<%- include('partials/header'); -%>

      <h1 id="home" class="display-4">Welcome to Koohii Kanji, <%= user %>!</h1>

      <p class="text-center lead">In need of a kanji review? Please proceed to the <a href="/kanji">kanji</a> section.</p>

      <!-- <script>
        const h1 = document.querySelector('h1 span');

        h1.addEventListener("mouseover", () => {
          h1.innerHTML = "コーヒー漢字へようこそ！";
        });

        h1.addEventListener("mouseout", () => {
          h1.innerHTML = "Welcome to Koohii Kanji!";
        });
      </script> -->

<%- include('partials/footer'); -%>